# Ignore Python virtual environment
book_recommend_env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore mypy cache
.mypy_cache/

# Ignore any compiled Python files
*.pyc

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore local development settings
__pycache__/



